.display-container {
    position: relative;
    box-sizing: border-box;
    overflow: scroll;
}

.grid-table {
    max-width: 80%;

    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    padding: 10px;
    background-color: var(--black);
}

.grid-item {
    background-color: #444;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

.car-image {
    width: 100%;
    height: 250px;
    overflow: hidden;
    background-size: cover;
    border: 1px solid #222;
}

.car-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.car-details-container {
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    
    text-align: left;
}
.car-details {
    font-size: 18px;

    width: 70%;
    padding: 5px;
   
}

#car-text {
    width: 30%;
    font-size: 18px;
    font-weight: bold;
}

#car-name {
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

#car-color {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
}

.color {
    width: fit-content;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid black;
}

