.navigation-bar {
    position: relative;
    background-color: var(--red);

    height: 100px;
    min-width: 100vw;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
}

.menu-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    padding: 10px;
    margin-left: 10px;
    transition: all 0.1s ease;
}
.menu-icon:hover {
    transform: scale(1.1);
}

.menu-bar {
    background-color: var(--black);
    width: 100%;
    height: 10px;
    margin: 0px;
    border-radius: 2px;
}

