/**
 * @Author: Alexa
 * @Date:   2026-01-09 07:55:25
 * @Last Modified by:   Alexa
 * @Last Modified time: 2026-01-09 08:11:52
 */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  --grey: #313131;
  --red: #FF3131;
  --black: rgb(0, 0, 0);
  --darkred:  rgb(85, 0, 0);

}

body {
  margin: 0;


}

